<h1>Create New Todo</h1>
<form class="" action="/todo/create" method="post">

  <div class="form-group">
  <label for="exampleInputEmail1">Title:</label>
  <input type="text" name="title" class="form-control" id="exampleInputEmail1" placeholder="Title">
  </div>
  <div class="form-group">
  <label for="exampleInputEmail1">Description:</label>
    <textarea class="form-control" name="body" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-success">Create New</button>
</form>
